body {
  font-family: sans-serif;
  background-color: aliceblue;

  margin: 20px;
}

body.paused {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
}

img, video {
  display: block;
  max-width: 100%;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

#slide-elements {
  display: grid;
  grid-area: 1/1;
}

#slide-elements > * {
  grid-area: 1/1;
  opacity: 0;
  visibility: none;
  border-radius: 5px;
}

#slide-elements > .active {
  opacity: 1;
  visibility: visible;
}

#slide {
  display: grid;
  position: relative;
}

#slide-controls {
  grid-area: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#slide-controls button {
  opacity: 0;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
}

#slide-thumb {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 999;
  pointer-events: none;
}

#slide-thumb > span {
  display: block;
  height: 4px;
  background: rgba(255,255,255, 0.2);
  margin: 5px;
  border-radius: 4px;
  flex-grow: 1;
  overflow: hidden;
  isolation: isolate;
}

#slide-thumb .thumb-item.active {
  display: block;
  height: inherit;
  background: rgba(255,255,255, 0.6);
  border-radius: 4px;
  transform: translateX(-101%);
  animation: thumb 3s forwards linear running;
}

#slide-thumb .thumb-item.active.paused {
  animation-play-state: paused;
} 

@keyframes thumb {
  to {
    transform: initial;
  }
}