body {
  font-family: sans-serif;
  background-color: aliceblue;

  margin: 20px;
}

img, video {
  display: block;
  max-width: 100%;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

#slide-elements {
  display: grid;
}

#slide-elements > * {
  grid-area: 1/1;
  opacity: 0;
  visibility: none;
  border-radius: 5px;
}

#slide-elements > .active {
  opacity: 1;
  visibility: visible;
}