#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

video {
  max-width: 100%;
  width: 1080px;
}

button {
  margin: 10px 5px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume {
  margin: 0px 15px;
}