html {
  --color1: #2F4858;
  --color2: #33658A;
  --color3: #4b86b3;
  --color4: #9fcde6;
  --color5: #c7e1f0;
  --color6: #d8e6ee;
  --color-text1: #000000;
  --color-text2: #2b2b2baa;
  --color-text3: rgba(43, 43, 43, 0.329);
  --bg: #f7f8f5;
}

#root, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color6);
  color: var(--color-text1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

button, a {
  cursor: pointer;
}

h1,h2,h3 {
  font-weight: 600;
  margin: 0px;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-grow {
  display: flex;
}

.flex-grow > * {
  flex-grow: 1;
}