#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root {
  padding: 50px;
  border: 1px solid #fff;
  width: 80%;
  margin: auto;
}

main > div {
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}

div > div {
  padding: 10px;
}