#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding: 40px;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

main > div {
  border: 1px solid #24242446;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

div > div {
  padding: 10px;
}

.flex, .flex-grow {
  display: flex;
}

.flex-grow > * {
  flex-grow: 1;
}
.input-div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

li {
  text-align: start;
}